# Ruby/Jekyll/Python cache files
_site
.*cache
__pycache__/

# Static .git
.site-git

# Private
ignored/
_drafts/
**/secrets.py

# Too big to VC (binaries scary!)
climbing/*.mp4
climbing/*.jpeg
climbing/zones/
photography/
assets/hlenka-helenka/tribute.mp4

# xopp, svg
_includes/**/*.svg
_includes/**/*.xopp*

# generated
_includes/cv.html
_includes/songs.md
_includes/projects.md
_includes/linearni-programovani-v-pythonu
cv.pdf
