# Ruby files
*.gem
.bundle
.sass-cache
_site
Gemfile.lock

# Python files
__pycache__/

# PyCharm project files
.idea/

# Katex (since the math is statically generated)
assets/js/katex.min.js
assets/css/katex.min.css
assets/css/fonts

# Binary filetypes
*.zip
