# Ruby/Jekyll files
*.gem
_site
.bundle
.sass-cache
.jekyll-cache/
Gemfile.lock

# Python cache
__pycache__/

# Private
scripts/login.py
ignored/
_drafts/

# xopp -> svg
_includes/**/*.svg

# generated cv
_includes/cv.html
