repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format
        language: system
        types: [python]

      - id: prettier
        name: prettier
        entry: npx prettier --write
        language: system
        types_or: [scss, sass]
