body {
  font-family:"Fira Sans Light", sans-serif;
}

h1, h2, h3 {
  font-weight: normal;
}

code {
  font-family:"Fira Code Light", monospace;

  background-color: whitesmoke;
  border: 1px solid whitesmoke;

  border-radius: 5px;

  padding: 2px 3px;
}