<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- PAGE TITLE AND DESCRIPTION -->
  <title>{{ site.title }}/{{ page.title | downcase }}</title>
  <meta name="description" content="site.description">

  <!-- FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Fira+Mono|Fira+Sans" rel="stylesheet"> 

  <!-- USE THE GENERATED STYLESHEETS -->
  <link rel="stylesheet" href="{{'/assets/css/main.css' | absolute_url}}">

  <!-- CANONICAL -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
