<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- ICON -->
  <link rel="icon" type="image/png" href="{{site.url}}/assets/favicon.png" />

  <!-- PAGE TITLE AND DESCRIPTION -->
  {% if page.title == "Home" %}
    <title>{{ site.title }}/</title>
  {% else %}
    <title>{{ site.title }}/{{ page.title | downcase }}/</title>
  {% endif %}
  <meta name="description" content="{{site.description}}">

  <!-- FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Fira+Mono|Fira+Sans" rel="stylesheet">

  <!-- CSS STYLESHEETS -->
  <link rel="stylesheet" href="{{'/assets/css/main.css' | absolute_url}}">

  <!-- CANONICAL -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
