@import "variables";

p.commit-header {
  font-variant: normal;
  padding-top: $line-spacing;
  padding-bottom: 2 * $line-spacing;
  margin-bottom: 0;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 1rem;

  &::before,
  &::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #aaa;
  }
}

.highlight .char {
  display: inline-block;
  width: 1.25ch;
  text-align: center;
  font-weight: normal;
}

.highlight .gray {
  color: rgb(100, 95, 90);
}

.highlight .red {
  color: rgb(200, 20, 50);
}

.highlight .green {
  color: #008000;
}

.highlight .yellow {
  color: rgb(200, 120, 0);
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  .highlight .gray {
    color: rgb(133, 127, 120);
  }

  .highlight .red {
    color: rgb(255, 44, 75);
  }

  .highlight .green {
    color: #aeee00;
  }

  .highlight .yellow {
    color: rgb(255, 167, 36);
  }
}
