@charset "utf-8";

@import "variables";

ul.hfill {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	padding-left: $line-spacing / 5;
	padding-right: $line-spacing / 5;

	margin-top: $line-spacing / 10;
	margin-bottom: $line-spacing / 10;
	padding-top: $line-spacing / 10;
	padding-bottom: $line-spacing / 10;

	li:nth-child(2) {
		white-space: nowrap;
		padding-left: $line-spacing;
	}
}

.spacer {
	padding-bottom: $line-spacing;
}


ul.hfill:nth-child(2n+1) { background: lighten($light-code-background-color, 5%); }

@media (prefers-color-scheme: dark) {
	ul.hfill:nth-child(2n+1) { background: lighten($dark-code-background-color, 9%); }
}
