@charset "utf-8";

@import "variables";

ul.hfill {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-left: $line-spacing / 5;
    padding-right: $line-spacing / 5;
    margin-top: $line-spacing / 10;
    margin-bottom: $line-spacing / 10;
    padding-top: $line-spacing / 10;
    padding-bottom: $line-spacing / 10;

    li:nth-child(2) {
        white-space: nowrap;
        padding-left: $line-spacing;
    }
}

.spacer {
    padding-bottom: $line-spacing;
}

.portrait {
	filter: brightness(110%);

	@media (prefers-color-scheme: light) {
		filter: brightness(140%);
	}
	img {
		float: right !important;
		width: 250px;
		margin-left: $line-spacing / 4;
		margin-bottom: $line-spacing / 4;

		filter: drop-shadow(0 0 0.1rem $dark-header-background-color);

		@media (prefers-color-scheme: light) {
			filter: drop-shadow(0 0 0.1rem $dark-nav-background-color);
		}

		@media (max-width: $small-screen-threshold / 1.05) {
			display: none;
		}
	}
}

ul.hfill:nth-child(2n) { background-color: $light-nav-background-color; }

@media (prefers-color-scheme: dark) {
    ul.hfill:nth-child(2n) { background-color: $dark-nav-background-color; }
}
