@charset "utf-8";

@import "variables";

video {
	width: 100%;
	height: 100%;

	margin-left: auto;
	margin-right: auto;
	display: block;

	// not entirely pretty
	// done to prevent the temporary pause when loading the video
	background: black;
}

code {
    font-size: 80%;
}
