@charset "utf-8";

@import "variables";

// a row of photos
.row {
	display: flex;

	// don't invert them!
	// also respect the orientation
	* {
		filter: invert(0%);
		image-orientation: from-image;
		width: 100%;
	}
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

// when there is 1/2/3 photos in one row
.photos1, .photos2, .photos3 { padding: 5px; img {max-width: 100%;}}
.photos1 { flex: 100%; }
.photos2 { flex: 50%; }
.photos3 { flex: 33.33%; }
