@use "variables";

// a row of photos
.row {
  display: flex;

  // don't invert them!
  // also respect the orientation
  * {
    filter: invert(0%);
    image-orientation: from-image;
  }
}

figcaption {
  padding: variables.$line-spacing * 0.5 variables.$line-spacing * 0.5;
  padding-top: 0;
  text-align: center;
  font-style: italic;
}

.row {
  figcaption {
    padding-top: variables.$line-spacing * 0.25;
  }
}

.photo-section {
  background: variables.$light-code-background-color;

  @media (prefers-color-scheme: dark) {
    background: variables.$dark-nav-background-color;
  }

  margin-bottom: variables.$line-spacing * 1.25;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

// forgive me for I have sinned
.photos1-0,
.photos2-0,
.photos2-1,
.photos3-0,
.photos3-1,
.photos3-2 {
  img {
    max-width: 100%;
  }
}

.photos1-0 {
  flex: 100%;
  img {
    width: 100%;
  }
  padding: 0 variables.$line-spacing * 0.5 variables.$line-spacing * 0.5 variables.$line-spacing *
    0.5;
}
.photos2-0 {
  flex: 50%;
  padding: 0 variables.$line-spacing * 0.5 variables.$line-spacing * 0.5 variables.$line-spacing *
    0.5;
}
.photos2-1 {
  flex: 50%;
  padding: 0 variables.$line-spacing * 0.5 variables.$line-spacing * 0.5 0;
}
.photos3-0 {
  flex: 33.33%;
  padding: 0 variables.$line-spacing * 0.5 variables.$line-spacing * 0.5 variables.$line-spacing *
    0.5;
}
.photos3-1 {
  flex: 33.33%;
  padding: 0 variables.$line-spacing * 0.5 variables.$line-spacing * 0.5 0;
}
.photos3-2 {
  flex: 33.33%;
  padding: 0 variables.$line-spacing * 0.5 variables.$line-spacing * 0.5 0;
}

.flex-10 {
  flex: 10% !important;
}
.flex-20 {
  flex: 20% !important;
}
.flex-30 {
  flex: 30% !important;
}
.flex-40 {
  flex: 40% !important;
}
.flex-50 {
  flex: 50% !important;
}
.flex-60 {
  flex: 60% !important;
}
.flex-70 {
  flex: 70% !important;
}
.flex-80 {
  flex: 80% !important;
}
.flex-90 {
  flex: 90% !important;
}

.row:first-of-type {
  .photos1-0 {
    flex: 100%;
    padding: variables.$line-spacing * 0.5;
  }
  .photos2-0 {
    flex: 50%;
    padding: variables.$line-spacing * 0.5;
  }
  .photos2-1 {
    flex: 50%;
    padding: variables.$line-spacing * 0.5 variables.$line-spacing * 0.5 variables.$line-spacing *
      0.5 0;
  }
  .photos3-0 {
    flex: 33.33%;
    padding: variables.$line-spacing * 0.5;
  }
  .photos3-1 {
    flex: 33.33%;
    padding: variables.$line-spacing * 0.5 variables.$line-spacing * 0.5 variables.$line-spacing *
      0.5 0;
  }
  .photos3-2 {
    flex: 33.33%;
    padding: variables.$line-spacing * 0.5 variables.$line-spacing * 0.5 variables.$line-spacing *
      0.5 0;
  }
}

.bg-div-outer {
  background-repeat: no-repeat !important;
}

.bg-div {
  background-color: #fffe;
  box-shadow: 0 0 4px 4px variables.$light-background-color inset;

  @media (prefers-color-scheme: dark) {
    background-color: #333e;
    box-shadow: 0 0 4px 4px variables.$dark-background-color inset;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 1rem;

  @media (max-width: variables.$tiny-screen-threshold) {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }

  padding-bottom: variables.$line-spacing;
}

.grid > div {
  position: relative;
}

.grid > div::before {
  // for aspect ratio
  content: "";
  display: block;
  padding-bottom: 100%;
}

.grid > div::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(5px); /* Apply blur to the border */
  z-index: 0; /* Ensure this layer is behind the image */

  background-color: #0005;

  @media (prefers-color-scheme: dark) {
    background-color: #fff3;
  }
}

.grid img {
  z-index: 1; /* Ensure this layer is behind the image */

  max-width: 100%;
  filter: invert(0%);
  image-orientation: from-image;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.icons {
  position: absolute;
  bottom: 5px; /* Distance from the bottom edge */
  right: 10px; /* Distance from the right edge */
  z-index: 2; /* Ensure the icons are above the blurred background */
  display: flex;
  gap: 10px; /* Space between icons */

  a {
    font-size: 0.9rem;
    color: white;
    text-shadow:
      0 0 4px #000,
      0 0 4px #000,
      0 0 8px #000;
  }
}

.date {
  position: absolute;
  top: 5px;
  left: 10px;
  color: white;
  text-shadow:
    0 0 2px #000,
    0 0 2px #000,
    0 0 2px #000,
    0 0 5px #000,
    0 0 5px #000,
    0 0 5px #000,
    0 0 5px #000;
  font-size: 0.75rem; /* Adjust font size as needed */
  z-index: 2; /* Ensure the date is above other elements */
}
