@import "variables";

// a row of photos
.row {
  display: flex;

  // don't invert them!
  // also respect the orientation
  * {
    filter: invert(0%);
    image-orientation: from-image;
  }
}

figcaption {
  padding: $line-spacing $line-spacing / 2;
  padding-top: 0;
  text-align: center;
  font-style: italic;
}

.row {
  figcaption {
    padding-top: $line-spacing / 4;
  }
}

.photo-section {
  background: $light-code-background-color;

  @media (prefers-color-scheme: dark) {
    background: $dark-nav-background-color;
  }

  margin-bottom: $line-spacing * 1.25;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

// forgive me for I have sinned
.photos1-0,
.photos2-0,
.photos2-1,
.photos3-0,
.photos3-1,
.photos3-2 {
  img {
    max-width: 100%;
  }
}

.photos1-0 {
  flex: 100%;
  padding: 0 $line-spacing / 2 $line-spacing / 2 $line-spacing / 2;
}
.photos2-0 {
  flex: 50%;
  padding: 0 $line-spacing / 2 $line-spacing / 2 $line-spacing / 2;
}
.photos2-1 {
  flex: 50%;
  padding: 0 $line-spacing / 2 $line-spacing / 2 0;
}
.photos3-0 {
  flex: 33.33%;
  padding: 0 $line-spacing / 2 $line-spacing / 2 $line-spacing / 2;
}
.photos3-1 {
  flex: 33.33%;
  padding: 0 $line-spacing / 2 $line-spacing / 2 0;
}
.photos3-2 {
  flex: 33.33%;
  padding: 0 $line-spacing / 2 $line-spacing / 2 0;
}

.flex-10 {
  flex: 10% !important;
}
.flex-20 {
  flex: 20% !important;
}
.flex-30 {
  flex: 30% !important;
}
.flex-40 {
  flex: 40% !important;
}
.flex-50 {
  flex: 50% !important;
}
.flex-60 {
  flex: 60% !important;
}
.flex-70 {
  flex: 70% !important;
}
.flex-80 {
  flex: 80% !important;
}
.flex-90 {
  flex: 90% !important;
}

.row:first-of-type {
  .photos1-0 {
    flex: 100%;
    padding: $line-spacing / 2;
  }
  .photos2-0 {
    flex: 50%;
    padding: $line-spacing / 2;
  }
  .photos2-1 {
    flex: 50%;
    padding: $line-spacing / 2 $line-spacing / 2 $line-spacing / 2 0;
  }
  .photos3-0 {
    flex: 33.33%;
    padding: $line-spacing / 2;
  }
  .photos3-1 {
    flex: 33.33%;
    padding: $line-spacing / 2 $line-spacing / 2 $line-spacing / 2 0;
  }
  .photos3-2 {
    flex: 33.33%;
    padding: $line-spacing / 2 $line-spacing / 2 $line-spacing / 2 0;
  }
}
