@import "variables";

.ghLeft,
.ghRight {
    max-width: 45%;
    border: 1px solid;
    border-radius: 15px;
    th { border: 0; }

    padding-top: $line-spacing / 3;
    padding-bottom: $line-spacing / 3;

    @media (max-width: $website-size + $website-padding * 2) {
        max-width: 100%;
        width: 100%;

        padding: $line-spacing / 2 $line-spacing / 4;

        * {
            display: block;
        }

        display: block;
    }
}

.ghLeft {
    margin-left: 20px;
    display: inline-block;

    @media (max-width: $website-size + $website-padding * 2) {
        margin-left: 0;
    }
}

.ghRight {
    float: right;
    margin-right: 20px;

    @media (max-width: $website-size + $website-padding * 2) {
        margin-right: 0;
        float: none;
    }
}

.ghName { text-align: left; }
//.ghDescription {}
//.ghStars {}
.ghLang { text-align: right; }

.ghRight,
.ghLeft { background: $light-nav-background-color; }

@media (prefers-color-scheme: dark) {
    .ghRight,
    .ghLeft { background: $dark-nav-background-color; }
}
