@use "variables";

.gold {
  color: #a2a200;

  @media (prefers-color-scheme: dark) {
    color: #ffff66;
  }
}

.silver {
  color: #7a7aa8;

  @media (prefers-color-scheme: dark) {
    color: #9999cc;
  }
}
