@charset "utf-8";

@import "variables";

.sttopics {
	> li {
		padding-bottom: $line-spacing;
	}
}

ul.hfill {
    display: flex;
    justify-content: space-between;
    list-style-type: none;

    padding-left: 0px;
    padding-right: 0px;

    li:nth-child(2) {
        white-space: nowrap;
        padding-left: $line-spacing;
    }
}
