@use "variables";

details {
  summary {
    text-align: left;
  }
}

details[open] {
  padding-bottom: 0;
  summary {
    margin-bottom: variables.$line-spacing;
  }
}

.azure-red {
  &::after {
    content: "azure";
  }
  @media (prefers-color-scheme: dark) {
    &::after {
      content: "red";
    }
  }
}
