@use "variables";

.video-thumbnail {
  float: right;
  margin-left: variables.$line-spacing * 0.5;

  border: 1px solid variables.$light-text-color;
  @media (prefers-color-scheme: dark) {
    border: 1px solid variables.$dark-text-color;
  }

  filter: invert(0%);
  height: 3em;
  max-width: initial;
}

.ytVideo {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  overflow: hidden;
  margin-bottom: variables.$line-spacing;

  border: 3px solid variables.$light-text-color;
  @media (prefers-color-scheme: dark) {
    border: 3px solid variables.$dark-text-color;
  }
}

.ytVideo iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

details {
  margin-top: -(variables.$line-spacing);

  summary {
    text-align: left;
  }
  summary:hover {
    font-weight: bold;
  }

  pre {
    margin: variables.$line-spacing;
    white-space: pre-line;
  }
}
