@import "variables";

video {
  width: 100%;
  height: 100%;

  margin-left: auto;
  margin-right: auto;
  display: block;

  // not entirely pretty
  // done to prevent the temporary pause when loading the video
  background: black;
}

// Smaller code blocks for manim posts
.section-manim {
  figure.highlight,
  div.highlight {
    font-size: 80%;
  }
}
