@font-face {
  font-family: "Tomoji";
  src: url("/assets/css/fonts/tomoji.woff2") format("woff2");
  font-display: swap;
}

:root {
  --tomoji-shadow: 1.5px 1.5px 1.5px rgba(96, 96, 96, 0.4);
}

@media (prefers-color-scheme: dark) {
  :root {
    --tomoji-shadow: 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.6);
  }
}

.tomoji {
  font-family:
    "Tomoji", "Twemoji Mozilla", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji", sans-serif;
  text-shadow: var(--tomoji-shadow);
  font-size: 1.5em;
  display: inline-block;
  line-height: 0;
  margin-left: -0.1em;
  width: 0.9em;
  text-align: center;
}
