<div class="code-tabs">
<div class="code-tabs-header">
<span class="code-tab active" onclick="this.parentElement.parentElement.classList.remove('show-alt'); this.classList.add('active'); this.nextElementSibling.classList.remove('active');"><i class="fa-brands fa-js"></i> Motion Canvas</span>
<span class="code-tab" onclick="this.parentElement.parentElement.classList.add('show-alt'); this.classList.add('active'); this.previousElementSibling.classList.remove('active');"><i class="fa-brands fa-python"></i> Manim</span>
</div>
<div class="code-tabs-content">
{{- with .page.Resources.Get .mcFile -}}
{{ highlight .Content "tsx" "" }}
{{- end -}}
</div>
<div class="code-tabs-content">
{{- with .page.Resources.Get .manimFile -}}
{{ highlight .Content "python" "" }}
{{- end -}}
</div>
</div>
