{{/* Photo gallery partial - renders photos from data/photos/gallery.yaml */}}
{{/* Uses shared lightbox from baseof.html and lightbox.js */}}

{{- $.Page.Store.Set "hasLightbox" true -}}
<div class='grid'>
{{ range site.Data.photos.gallery.photos }}
  {{ $date := time.AsTime (substr .file 0 10) }}
  {{ $img := $.Page.Resources.GetMatch .file }}

  {{ if $img }}
    {{ $thumb := $img.Process "resize 800x webp" }}
    {{ $full := $img.Permalink }}

    <div class="no-invert">
      <div class="date">{{ $date.Format "2006/01/02" }}</div>
      <a href="{{ $full }}" class="lightbox-trigger" data-thumb="{{ $thumb.RelPermalink }}">
        <img src="{{ $thumb.RelPermalink }}" alt="Photo from {{ $date.Format "2006/01/02" }}">
      </a>
      <div class="icons">
        <a href="{{ $full }}" download class="icon download">
          <i class="fas fa-download"></i>
        </a>
        {{- if .instagram }}
        <a href="https://www.instagram.com/p/{{ .instagram }}/" target="_blank" class="icon instagram">
          <i class="fab fa-instagram"></i>
        </a>
        {{- end }}
        {{- if .bluesky }}
        <a href="https://bsky.app/profile/tomas.slama.dev/post/{{ .bluesky }}" target="_blank" class="icon bluesky">
          <i class="fab fa-bluesky"></i>
        </a>
        {{- end }}
      </div>
    </div>
  {{ end }}
{{ end }}
</div>
