<!DOCTYPE html>
<html lang="{% if page.language == "cz" %}cs{% else %}en{% endif%}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- ICON -->
		<link rel="icon" type="image/png" href="{{ '/assets/favicon.svg' | absolute_url}}" />

		<!-- PAGE TITLE AND DESCRIPTION -->
		{% if page.order == 0 %}
			<title>{{ site.title }}</title>
		{% elsif page.html_title %}
			<title>{{ page.html_title }} – {{ site.title }}</title>
		{% else %} 
			<title>{{ page.title }} – {{ site.title }}</title>
		{% endif %}
		<meta name="description" content="{{site.description}}">

		<!-- CSS STYLESHEETS -->
		<link rel="stylesheet" href="{{ '/assets/css/main.css' | absolute_url}}">
		{% if page.css %}
		{% assign css_names = page.css | split: " " %}
		{% for name in css_names %}
		{% capture url %}/assets/css/{{ name }}.css{% endcapture %}
		<link rel="stylesheet" href="{{ url | absolute_url}}">
		{% endfor %}
		{% endif %}

		<!-- FA -->
		<link rel="stylesheet" href="{{ '/assets/css/fa.min.css' | absolute_url}}">

		<!-- KATEX -->
		<link rel="stylesheet" href="{{ '/assets/css/katex.min.css' | absolute_url}}">

		<!-- CANONICAL -->
		<link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">

		<!-- yoinked from Advent of Code: triple clicking a code snippet selects it in its entirety -->
		<script>window.addEventListener('click', function(e,s,r){if((e.target.nodeName==='PRE'||e.target.nodeName==='CODE')&&e.detail===3){s=window.getSelection();s.removeAllRanges();r=document.createRange();r.selectNodeContents(e.target);s.addRange(r);}});</script>
	</head>

	<body>
		<div class="header">
			<h1><a href="/">{{ site.title }}</a></h1>
		</div>

		<!-- navigation bar -->
		<div class="navigation-background">
			<div class="navigation">
				<ul>
				{% assign sections_sorted = site.documents | concat: site.pages | sort: 'order' %}
				{% for p in sections_sorted %}
					{% if p.title and p.order %}
						<li>
						<span class="navbar-item">
						{% if p.title == page.title %}
							<strong class="current-page-item navbar-text"><a href="{{p.url}}">{{p.title}}</a></strong>
						{% else %}
							<strong class="navbar-text"><a href="{{p.url}}">{{p.title}}</a></strong>
						{% endif %}
						</span>
						</li>
					{% endif %}
				{% endfor %}
				</ul>
			</div>
		</div>

		<div class="content-background">

			<div class="content">
				{% unless page.no-heading %}
					{% if page.center-title %}
						<h2 class="center {% if layout.post-title %} post-title{% endif %}">{{ page.title }}</h2>
					{% else %}
						<h2 class="{% if layout.post-title %} post-title{% endif %}">{{ page.title }}</h2>
					{% endif %}
				{% else %}
					<h2 class='no-display'>{{ page.title }}</h2>
				{% endunless %}

				{{ content }}
			</div>
		</div>

		<footer>
			<p>Maintained by Tomáš Sláma.</p>
			<p>
				<em>last built {{ "now" | date: "%Y-%m-%d %H:%M" }}</em><br>
				<a href="https://github.com/xiaoxiae/slama.dev">source code</a> <span class="half-visible vspace">·</span>
				<span class="footer-multiline">
					<a href="mailto: tomas@slama.dev">mail</a> <br>
					<a href="/feed.xml">RSS</a>
				</span> <span class="half-visible vspace">·</span>
				<a href="/privacy-policy/">privacy policy</a>
			</p>
		</footer>
	</body>
</html>
