<!DOCTYPE html>
<html>
  {% include head.html %}

  <!-- set a theme, depending on the _config.yml variable -->
  <body class="{% if site.dark-theme %}dark{% else %}light{% endif %}">

    {% include header.html %}
    <div class="content">
      <!-- navigation bar -->
      <center>
        <div class="navigation">
          <!-- home link -->
          {% if page.title == "Home" %}
            <span class="current-page-item"><a href="{{site.url}}{{site.baseurl}}">Home</a></span>
          {% else %}
            <a href="{{site.url}}{{site.baseurl}}">Home</a>
          {% endif %}

          <!-- links to the rest of the articles -->
          {% assign sections_sorted = site.pages | sort: 'order' %}
          {% for p in sections_sorted %}
            {% if p.title and p.title != "Home" %}
              <span class="navigation-separator"></span>
              {% if p.title == page.title %}
                <span class="current-page-item"><a href="{{p.url | prepend: site.baseurl }}">{{p.title}}</a></span>
              {% else %}
                <a href="{{p.url | prepend: site.baseurl }}">{{p.title}}</a>
              {% endif %}
            {% endif %}
          {% endfor %}

          <!-- wiki link -->
          <span class="navigation-separator"></span>
          <a href="{{ site.wiki-url }}">Wiki</a>
        </div>
      </center>

      {{ content }}
    </div>
  </body>
</html>
