---
layout: default
post-title: True
---

{% assign date_format = "%-d. %-m. %Y" %}

<p class="post-metadata">
	{% if page.category_noslug or page.category %}
		{{ page.category_noslug | default: page.category }}</strong>
	{% endif %}

	{% if page.category_icon %}
		<img class='category-icon' src='{{ page.category_icon }}' alt='{{ page.category | default: page.category_noslug }} Icon'/>
	{% endif %}

	{% if page.category_noslug or page.category %}
		<span class="quarter-visible vspace">· </span>
	{% endif %}

	{{ page.date | date: date_format }}

	{% if page.language == "cz" %}
		<span class="quarter-visible vspace">· </span>🇨🇿
	{% endif %}

	{% if page.pdf or page.pdf-nogenerate %}
		{% if page.language == "cz" %}
			<span class="quarter-visible vspace">· </span>dostupné v <strong><a href="/assets/{{ page.url | split: "/" | last }}.pdf">PDF</a></strong>
		{% else %}
			<span class="quarter-visible vspace">· </span>available as <strong><a href="/assets/{{ page.url | split: "/" | last }}.pdf">PDF</a></strong>
		{% endif %}
	{% endif %}

	{% if page.end %}
		<span class="quarter-visible vspace">· </span>{{ page.end }}
	{% endif %}

	{% if page.language == "cz" %}
		<span class="quarter-visible vspace">· </span>[<a href="https://github.com/xiaoxiae/slama.dev/blob/master/{{ page.path }}">upravit</a>]
	{% else %}
		<span class="quarter-visible vspace">· </span>[<a href="https://github.com/xiaoxiae/slama.dev/blob/master/{{ page.path }}">edit</a>]
	{% endif %}
</p>

{{ content }}
